@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.inter {
  font-family: var(--font-inter);
}

.plhu {
  font-family: var(--font-plhu);
}

.unbounded {
  font-family: var(--font-unbounded);
}

body {
  font-family: var(--font-inter);
}

.editor-content p:empty::before {
  /* content: '\00a0'; */
  display: block;
  /* height: 1rem; */
}

.editor-content a {
  text-decoration: underline;
  font-weight: 600;
}
