@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* add the code bellow */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec4899;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f53c98;
}

.inter {
  font-family: var(--font-inter);
}

.plhu {
  font-family: var(--font-plhu);
}

.unbounded {
  font-family: var(--font-unbounded);
}

body {
  font-family: var(--font-inter);
}

.editor-content p:empty::before {
  content: '\00a0';
  display: block;
  /* height: 1rem; */
}

.editor-content2 p:empty::before {
  content: '\00a0';
  display: block;
  /* height: 1rem; */
}

.editor-content p {
  line-height: 35px;
  word-spacing: 3px;
}

.editor-content2 p {
  /* line-height: 20px;
  word-spacing: 3px; */
}

.editor-content h2 {
  font-size: 30px;
  line-height: 32px;
}

.editor-content img {
  width: 75%;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .editor-content img {
    width: 100%;
    margin-inline: auto;
  }
  .editor-content p {
    line-height: 25px;
    word-spacing: 3px;
    font-size: 18px;
  }
  .editor-content h2 {
    font-size: 25px;
    line-height: 32px;
  }
}

.editor-content a {
  text-decoration: underline;
  font-weight: 600;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
